* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    user-select: none;
    scroll-behavior: smooth;
    overscroll-behavior: smooth;
}

body {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #FEFAE0;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.main-header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.main-nav ul {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 24px;
    margin-left: 24px;
}

.main-nav ul a {
    text-decoration: none;
    color: #000;
}

.main-nav .buttons-wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-left: auto;
}

.main-nav .buttons-wrapper a {
    text-decoration: none;
}

.button-primary {
    color: #606C38;
    border: 1px solid #606C38;
    border-radius: 8px;
    padding: 4px 16px;
}

.button-secondary {
    color: #FFF;
    border: 1px solid #BC6C25;
    background-color: #BC6C25;
    border-radius: 8px;
    padding: 4px 16px;
}

.hero-section {
    background-image: url("/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 96px;
    padding-bottom: 180px;
}

.hero-section-content {
    color: #FFF;
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.hero-section-content h1 {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 0;
}

.hero-section-content p {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 32px;
}

.hero-section-content a {
    display: inline-block;
    color: #FFF;
    border: 1px solid #BC6C25;
    background-color: #BC6C25;
    border-radius: 8px;
    padding: 8px 16px;
    text-decoration: none;
}

.main-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.present-product-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.present-product-text {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: #000;
    }
}

.product-wrapper {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
}

.item-special-product a {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #000;
    text-decoration: none;
}

.description-special-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-special-product {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main-banner {
    background-color: #fff;
}

.list-banner {
    display: flex;
    justify-content: space-between;
    padding: 32px 80px;
    list-style: none;
}

.question-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.question-images {
    display: flex;
    justify-content: space-between;

    img {
        width: 500px;
    }
}
