* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  margin: 40px auto;
  width: 90%;
  max-width: 1200px;
}

.header-nav {
  display: flex;
  gap: 16px;
  align-items: center;
}

.logo {
  width: 112px;
  height: 112px;
}

.link-wrapper {
  list-style: none;
  display: flex;
  gap: 24px;
}

.item-nav {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  font-weight: 600;
}

.btn-wrapper {
  display: flex;
  gap: 48px;
  align-items: center;
}

.header-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 16px 48px;
  border-radius: 8px;

  &:nth-child(1) {
    background-color: #fff;
  }
}